<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zxing" version="1.0.1">
    <name>ZXingPlugin</name>
    <description>ZXing Barcode Scanner Plugin for Cordova</description>
    <license>Apache 2.0</license>

    <keywords>cordova,android,zxing,barcode,qr,qr code,qrcode</keywords>
    <repo>https://github.com/marceloburegio/cordova-plugin-zxing.git</repo>
    <issue>https://github.com/marceloburegio/cordova-plugin-zxing/issues</issue>

    <engines>
        <engine name="cordova" version=">=4.0.0"/>
    </engines>

    <js-module src="www/zxingplugin.js" name="zxingPlugin">
        <clobbers target="window.plugins.zxingPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZXingPlugin">
                <param name="android-package" value="com.marceloburegio.zxingplugin.ZXingPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/ZXingPlugin.java" target-dir="src/com/marceloburegio/zxingplugin" />
    </platform>

    <framework src="com.journeyapps:zxing-android-embedded:3.6.0" />
</plugin>
